<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-stripe-terminal-ios" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>StripeTerminalIos</name>
    <js-module name="StripeTerminalIos" src="www/StripeTerminalIos.js">
        <clobbers target="cordova.plugins.StripeTerminalIos"/>
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="StripeTerminalIos">
                <param name="ios-package" value="StripeTerminalIos"/>
            </feature>
        </config-file>
        <source-file src="src/ios/StripeTerminalIos.m"/>
    </platform>
</plugin>